.robot {
  display: flex;
  justify-content:center;  
}

.head,.left_hand,.torso,.right_hand,.left_leg,.right_leg{
       background-color: green;

}

.left_hand,.right_hand{
  width: 40px; 
  height: 125px;
  border-radius: 100px; 
}

.left_leg,.right_leg{
  width: 40px; 
  height: 120px;
  border-radius: 0 0 100px 100px; 
}


/*Head Section Start*/
.head { 
  width: 200px; 
  margin: 0 auto; 
  height: 150px; 
  border-radius: 200px 200px 0 0;
  margin-bottom: 10px;
 }

/*Head Section end*/

/*Middle Section Start*/
 .middle { 
  width: 300px; 
  height: 150px;
  margin : 0 auto;
  display: flex; 
} 

.left_hand { 
  margin-right: 10px; 
} 

 .torso { 
  width: 200px; 
  height: 200px;
  border-radius: 0 0 50px 50px; 
 }

.right_hand { 
  margin-left: 10px; 
} 
/*Middle Section End*/ 


/*Lower Section Start*/
.lower_body { 
  width: 200px; 
  height: 200px;
  margin: 0 auto;
  display: flex; 
}

.left_leg { 
  margin-left: 45px; 
} 

.right_leg { 
  margin-left: 35px; 
}
/*Lower Section End*/