.common {
	background-color: green;
}

.middle, .lower , .head{ 
	display : flex;
	justify-content: center;
	transition: all 2s;
 }

.eye {
    background-color: white;
    width: 10px;
    height: 10px;
    border-radius:10px;
}


.head {
   width: 100px;
   height : 60px;
   border-top-right-radius : 50px ;
   border-top-left-radius : 50px ;
   margin: auto;
}

.hand { 
   width: 20px;
   height : 50px;
   border-radius: 30px;
 }

.torso { 
   width: 100px;
   height : 80px;
   border-bottom-right-radius : 20px ;
   border-bottom-left-radius : 20px ;
 }

 .lower1, .lower2 { 
   width: 20px;
   height : 30px;
   border-bottom-left-radius: 30px;
   border-bottom-right-radius: 30px;
 }


 /* Movements */

.lower1:hover {
   transform: rotateZ(20deg);
}

.lower2:hover {
   transform: rotateZ(-20deg);
}

.hleft:hover {
   transform: rotateZ(90deg);
}

.hright:hover {
   transform: rotateZ(-90deg);
}